{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>VSB Homepage</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e920b29c8f.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'virtualstuddybuddy/styles.css' %}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark container-fluid">
    <a class="navbar-brand" href="/virtualstudybuddy">VirtualStudyBuddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if user.is_authenticated %}
                    {#                            <a class="nav-link" href="{% url 'logout' %}">Signout ({{ user.username }})</a>#}
                    <!--google login-->
                {% else %}
                    <a class="nav-link" href="{% provider_login_url 'google' %}">Sign in</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'viewProfiles' %}">Find Buddies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/virtualstudybuddy/mygroups">My Groups</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/virtualstudybuddy/allgroups">All Groups</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/virtualstudybuddy/inbox">Inbox</a>
                <!-- this should just direct people to their profile page-->
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">View Profile</a>
                <!-- this should just direct people to their profile page-->
            </li>

            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Signout ({{ user.username }})</a>
                {% else %}
                    {#                            <a class="nav-link" href="{% provider_login_url 'google' %}">Sign in</a>#}
                {% endif %}
            </li>

        </ul>
    </div>
</nav>

<div class="profile_page">
    <h1 class="centered">{{ studygroup.group_name }} Group Page </h1>

    <div class="centerElementsOnly">
        {% if inGroup %}
            <a class="btn btn-success btn-lg download" href="/virtualstudybuddy/meetgroup/{{ studygroup.pk }}">
                Meet Group
            </a>
            <a class="btn btn-outline-dark btn-lg download" href="/virtualstudybuddy/editgroup/{{ studygroup.pk }}">
                Edit Group
            </a>
        {% else %}
            <a class="btn btn-success btn-lg download" href="/virtualstudybuddy/joingroup/{{ studygroup.pk }}">
                Join Group
            </a>
        {% endif %}
    </div>

    <div class="row zeroMarg">
        <hr>
        <div class="col-lg-5 col-md-5 col-sm-5 desc">
            <h6>Description</h6>
            <hr>
            <span>{{ studygroup.group_description }}</span>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5 desc">
            <h6>Roster</h6>
            <hr>

            {% for person in studygroup.profiles.all %}
                <li><a class="username_link"
                       href="/virtualstudybuddy/profile/{{ person.pk }}/">@{{ person.username }}</a>, {{ person.name }}
                </li>
            {% endfor %}
        </div>
        <hr>
    </div>

    <hr>
    <h2 class="centerElementsOnly blueviolettext padding_top enbolden"> Group Chat </h2>
    {% if inGroup %}
        {% if allMessages %}
            <div class="container-fluid">
            <div class="row centerElementsOnly">

                <div class="col-lg-3 col-md-4 col-sm-4">
                    <h4 class="blueviolettext">Sender</h4>

                </div>

                <div class="col-lg-9 col-md-4 col-sm-4">
                    <h4 class="blueviolettext">Message</h4>
                </div>

            </div>

            <hr>


            {% for message in allMessages %}
                <div class="row centerElementsOnly">

                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <span class="enbolden">@{{ message.sender_username }}</span>
                    </div>

                    <div class="col-lg-9 col-md-6 col-sm-6">
                        <span class="enbolden">{{ message.message }}</span>
                    </div>
                </div>

                <hr>

            {% endfor %}

        {% else %}
            <p>Nobody has messaged you yet!</p>
        {% endif %}
        </div>

        <div class="profile_page centerElementsOnly">
            <div class="container-fluid centerElementsOnly">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group signupForms col-md-12 mb-0">
                            {{ form.message|as_crispy_field:"bootstrap4" }}
                        </div>

                        <div class="centerElementsOnly">
                            <button type="submit" class="btn btn-outline-success">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <hr>
    {% endif %}
    {% if inGroup %}
        <div class="centerElementsOnly">
            <a class="btn btn-danger btn-lg download" href="/virtualstudybuddy/leavegroup/{{ studygroup.pk }}">
                Leave Group
            </a>
        </div>
    {% endif %}

</div>


</body>