{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>VSB Homepage</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e920b29c8f.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'virtualstuddybuddy/styles.css' %}">
</head>

<body>
<section id="title">

    <div class="">


        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark container-fluid">
            <a class="navbar-brand" href="/virtualstudybuddy">VirtualStudyBuddy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            {#                            <a class="nav-link" href="{% url 'logout' %}">Signout ({{ user.username }})</a>#}
                            <!--google login-->
                        {% else %}
                            <a class="nav-link" href="{% provider_login_url 'google' %}">Sign in</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'viewProfiles' %}">Find Buddies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/virtualstudybuddy/mygroups">My Groups</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/virtualstudybuddy/allgroups">All Groups</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/virtualstudybuddy/inbox">Inbox</a>
                        <!-- this should just direct people to their profile page-->
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">View Profile</a>
                        <!-- this should just direct people to their profile page-->
                    </li>

                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}">Signout ({{ user.username }})</a>
                        {% else %}
                            {#                            <a class="nav-link" href="{% provider_login_url 'google' %}">Sign in</a>#}
                        {% endif %}
                    </li>

                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <h3 class="find_friends" style="text-align:center">My Inbox!</h3>
            <hr>


            {% if allMessages %}
                <div class="row">

                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <h4>Sender</h4>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <h4>Subject</h4>
                    </div>

                    <div class="col-lg-6 col-md-4 col-sm-4">
                        <h4></h4>
                    </div>

                </div>

                <hr>


                {% for message in allMessages %}
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="">@{{ message.sender_username }}</span>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="enbolden">{{ message.subject }}</span>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            {#                            <span>{{ message.message }}</span>#}
                            <button type="button" class="btn btn-light" data-toggle="modal"
                                    data-target="#message{{ message.pk }}">
                                Read Message
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="message{{ message.pk }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title blueviolettext"
                                                id="exampleModalLabel">{{ message.subject }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="blueviolettext">{{ message.message }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                                                Close
                                            </button>
                                            <a type="button" href="{% url 'composemessage' target=message.sender_username %}" class="btn btn-success">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a type="button" class="btn btn-danger" href="{% url 'deletemessage' pk=message.id %}">Delete</a>
                        </div>


                    </div>

                    <hr>

                {% endfor %}




            {% else %}
                <h6 class="centerElementsOnly">Nobody has messaged you yet!</h6>
            {% endif %}

            <div class="centerElementsOnly">
                <a href="{% url 'composemessage' %}" class="btn btn-outline-light btn-lg download">Compose Message</a>
            </div>
            <hr>
            <h3 class="find_friends" style="text-align:center">Sent Messages</h3>
            <hr>
            {% if outgoingMessages %}
                <div class="row">

                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <h4>Recipient</h4>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <h4>Subject</h4>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4">
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4">
                    </div>

                </div>
                <hr>
                {% for message in outgoingMessages %}
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="">@{{ message.recipient_username }}</span>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="enbolden">{{ message.subject }}</span>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <button type="button" class="btn btn-light" data-toggle="modal"
                                    data-target="#message{{ message.pk }}">
                                Read Message
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="message{{ message.pk }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title blueviolettext"
                                                id="exampleModalLabel">{{ message.subject }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="blueviolettext">{{ message.message }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <a type="button" class="btn btn-danger" href="{% url 'deletemessage' pk=message.id %}">Delete</a>
                        </div>


                    </div>

                    <hr>

                {% endfor %}

            {% else %}
                <h6 class="centerElementsOnly">You haven't sent anything yet</h6>
            {% endif %}
            <hr>

        </div>
    </div>
</section>
</body>
</html>
