{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>VSB Homepage</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e920b29c8f.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'virtualstuddybuddy/styles.css' %}">
</head>

<body>
<section id="title">

    <div class="">


        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark container-fluid">
            <a class="navbar-brand" href="/virtualstudybuddy">VirtualStudyBuddy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
{#                            <a class="nav-link" href="{% url 'logout' %}">Signout ({{ user.username }})</a>#}
                            <!--google login-->
                        {% else %}
                            <a class="nav-link" href="{% provider_login_url 'google' %}">Sign in</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'viewProfiles' %}">Find Buddies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/virtualstudybuddy/mygroups">My Groups</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/virtualstudybuddy/allgroups">All Groups</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/virtualstudybuddy/inbox">Inbox</a>
                        <!-- this should just direct people to their profile page-->
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">View Profile</a>
                        <!-- this should just direct people to their profile page-->
                    </li>

                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}">Signout ({{ user.username }})</a>
                        {% else %}
{#                            <a class="nav-link" href="{% provider_login_url 'google' %}">Sign in</a>#}
                        {% endif %}
                    </li>

                </ul>
            </div>
        </nav>

        <div class="container-fluid">
        <h3 class="find_friends" style="text-align:center">Find friends to study with!</h3>
        <hr>
        {% if allProfiles %}
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4>Avatar</h4>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4>Username</h4>

                </div>

                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4>Name</h4>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4>Major</h4>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4>Age</h4>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4>Gender</h4>
                </div>


            </div>

            <hr>


            {% for profile in allProfiles %}
                <div class="row">

                    <div class="col-lg-2 col-md-2 col-sm-2 ">
                        {% if profile.picture %}
                            <img class="all_avatars" src="{{ profile.picture.url }}" alt="Profile Picture">
                        {% else %}
                            <img class="all_avatars" src="{% static "virtualstuddybuddy/aliBitmoji.png" %}"
                                 alt="Profile Picture">
                        {% endif %}
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 all_attributes">
                        <a href="/virtualstudybuddy/profile/{{ profile.pk }}/"><span
                                class="username_link">@{{ profile.username }}</span></a>
                        <a type="button" class="btn btn-dark btn-sm" href="{% url 'composemessage' target=profile.username %}">Message User</a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 all_attributes">
                        <span class="padding_top">{{ profile.name }}</span>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 all_attributes">
                        <span>{{ profile.major }}</span>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 all_attributes">
                        <span>{{ profile.age }}</span>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 all_attributes">
                        <span>{{ profile.gender }}</span>
                    </div>

                </div>

                <hr>

            {% endfor %}




        {% else %}
            <p>Nobody is looking for study buddies right now, please check back later.</p>
        {% endif %}

    </div>

    </div>
</section>
</body>
</html>
